<a href="https://colab.research.google.com/github/Ehtisham1053/Python-Programming-/blob/main/Practice_problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pop = 1000

for i in range(10,0,-1):
  print(f"year {i} and population is {pop}")
  pop = pop/1.1

year 10 and population is 1000
year 9 and population is 909.090909090909
year 8 and population is 826.4462809917354
year 7 and population is 751.3148009015775
year 6 and population is 683.0134553650704
year 5 and population is 620.9213230591548
year 4 and population is 564.473930053777
year 3 and population is 513.1581182307064
year 2 and population is 466.507380209733
year 1 and population is 424.09761837248453

In [ ]:
n = int(input("enter the n "))

result = 0
fact = 1
for i in range(1 , n+1):
  fact = fact * i
  result = result + i/fact

print(result)

enter the n 15
2.71828182845823

In [ ]:
n = int(input("enter the n "))


for i in range( 1 , n+1):
  for j in range(1, i+1):
    print(j , end=" ")

  for k in range(i-1,0,-1):
    print(k , end=" ")

  print()

enter the n 5
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [4]:
l = int(input("enter the lower range:: "))
u = int(input("enter the upper range:: "))


for i in range(l,u+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

enter the lower range:: 10
enter the upper range:: 20
11
13
17
19

In [9]:
n = 14
for i in range(1,n):
  if i>10:
    break
  print(i*2)

2
4
6
8
10
12
14
16
18
20