<a href="https://colab.research.google.com/github/Ehtisham1053/Python-Programming-/blob/main/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## üß± What is a Tuple in Python?

A **tuple** is an immutable, ordered collection of elements. This means:
- Elements are indexed (starting from 0)
- Elements can be of any data type
- You cannot change (modify), add, or remove elements after creation

Tuples are faster and memory-efficient compared to lists.

---

## üõ†Ô∏è Ways to Create a Tuple

### 1. Using Round Brackets `()`
```python
t1 = (1, 2, 3)

In [1]:
# 1. Using ()
t1 = (1, 2, 3)

# 2. Without parentheses
t2 = 4, 5, 6

# 3. Single element tuple
t3 = (7,)
t4 = (7)  # Not a tuple

# 4. Using tuple() constructor
t5 = tuple([8, 9, 10])

# 5. Nested tuple
t6 = (1, 2, (3, 4), [5, 6])

# Print all tuples
print("t1:", t1)
print("t2:", t2)
print("t3:", t3)
print("t4 (not a tuple):", t4, "Type:", type(t4))
print("t5:", t5)
print("t6:", t6)

t1: (1, 2, 3)
t2: (4, 5, 6)
t3: (7,)
t4 (not a tuple): 7 Type: <class 'int'>
t5: (8, 9, 10)
t6: (1, 2, (3, 4), [5, 6])